@model IEnumerable<KeywordMeaningSentence>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
}
<h2>Index</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.KeywordMeaningId">Create New</a> |
    <a asp-action="Index" asp-controller="KeywordMeanings" asp-route-id="@ViewBag.KeywordMeaningId">Back to List</a>
</p>
<table class="mytable display" id="mytable"  cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KeywordMeaningSentenceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeywordMeaningId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sentence)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KeywordMeaningSentenceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KeywordMeaningId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sentence)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.KeywordMeaningSentenceId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.KeywordMeaningSentenceId })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#mytable').DataTable();
        });
    </script>

}
