@model IEnumerable<WordReminder.Data.Model.Keyword>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Keyword Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KeywordId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Word)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KeywordId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Word)
                </td>
                <td>
                    @Html.ActionLink("Details", "Index", "KeywordMeanings", new { id = item.KeywordId }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.KeywordId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.KeywordId })
                </td>
            </tr>
        }
    </tbody>
</table>
